	
	<footer class="mobile_footer">
		<ul class="footer_list">
			<li class="<?= set_mobile_class('index') ?>">
				<a href="{:url('index/index')}">
					<i class="iconfont icon-shouye "></i>首页
				</a>
				
			</li>
			<li class="<?= set_mobile_class('search') ?>">
				<a href="{:url('search/index')}">
					<i class="iconfont icon-sousuo-F"></i>搜索
				</a>
				
			</li>
			<li class="<?= set_mobile_class('user') ?>">
				<a href="{:url('user/home')}">
					<i class="iconfont icon-wode"></i>我的
				</a>
				
			</li>
		</ul>
	</footer>

</body>
</html>